:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-font: Roboto, sans-serif;
  --card-set-gap: 30px;
}

body {
  color: var(--title-text-color);
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.logo {
  color: var(--accent-color);
}

.studio {
  color: #000;
}

.logo,
.studio {
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.list {
  list-style: none;
}

.site-nav .link {
  position: relative;
}

.link.current::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
}

.main-nav,
.site-nav {
  display: flex;
  align-items: center;
}

.main-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header {
  border-bottom: 1px solid #ececec;
}

.navigation {
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.contact .link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.list .link {
  text-decoration: none;
}

/* contact */

.contact {
  display: flex;
  margin-left: auto;
}

.contact .link {
  color: var(--title-text-color);
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.contact .item + .item {
  margin-left: 50px;
}
.contact-icon {
  margin-right: 10px;
  vertical-align: middle;

  fill: currentColor;
}
/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;

  background: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero-title {
  width: 696px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
}

.btn-hero {
  display: block;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
  transform: scale(1.2) translate(-50%, -50%);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  flex-shrink: 0;
  border-radius: 4px;

  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transform: scale(1) translate(-50%, -50%);
  transition: transform 500ms ease-in-out;
}

.btn-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  padding: 6px;
  border-radius: 50%;
  margin-top: 8px;
  margin-right: 8px;

  background-color: #fff;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--primary-text-color);
}

.section-subtitle {
  color: var(--primary-text-color);
}

.project .section-title,
.team .section-title,
.clients .section-title {
  margin-bottom: 50px;

  text-align: center;
  font-size: 36px;
  line-height: normal;
  letter-spacing: 1.08px;
}

/* section features */

.features .list {
  display: flex;
}
.features .item {
  width: 270px;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.features .section-subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: #f5f4fa;
}

/* section project */

.project {
  padding-top: 0px;
}

.project .list {
  display: flex;
}

.project .item:not(:last-child) {
  margin-right: var(--card-set-gap);
}

.project .item {
  position: relative;
}

.project .section-subtitle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  color: #fff;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
/* section team */

.team .list {
  display: flex;
}

.team .item:not(:last-child) {
  margin-right: var(--card-set-gap);
}
.team .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team {
  padding-top: 94px;

  background-color: #f5f4fa;
}

.team .social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .section-subtitle {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team .text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.48px;
}
.card-worker {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

/* social icons  */

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: #ffffff;
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

/* clients */

.clients .list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: #afb1b8;
}

.client-link:hover,
.client-link:focus {
  border-color: var(--accent-color);
}

.client-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer .studio {
  color: #fff;
}

.footer .logo,
.footer .studio {
  padding-top: 0px;
  padding-bottom: 0px;
}

.adress {
  margin-top: 20px;

  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.adress .list {
  margin-top: 9px;
}

.adress .tel {
  margin-top: 9px;
}

.adress .link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress .link:hover,
.adress .link:focus {
  color: var(--primary-white-color);
}
.footer .text {
  margin-bottom: 20px;

  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

/* icons footer */

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-icon {
  fill: rgba(255, 255, 255, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.adress-contact {
  margin-right: 70px;
}

/* portfolio */

/* filter */

.nav-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: 0;

  color: var(--primary-text-color);
  font-family: inherit;
  background-color: #f5f4fa;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-btn:hover,
.nav-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav-btn.current {
  padding-left: 25px;
  padding-right: 25px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.filter > .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .section-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio .text {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
/* set-card */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  flex-basis: calc(100% / 3 - var(--card-set-gap));
}

.thumb {
  position: relative;
  overflow: hidden;
}
.card-set .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
}

.text-overlay {
  color: #fff;
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
}

.card-set .link:hover .overlay,
.card-set .link:focus .overlay {
  transform: translateY(0);
}

.card-set .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set .link:hover,
.card-set .link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.border-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.border-card .text {
  margin-top: 4px;
}
